<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.study.task" />


    <!-- Task3 -->
    <!-- Qualifier. -->
    <bean id="person1" class="com.study.task.task3.Person">
        <property name="name" value="Jack" />
        <property name="age" value="31" />
    </bean>
    <bean id="person2" class="com.study.task.task3.Person">
        <property name="name" value="Alex" />
        <property name="age" value="28" />
    </bean>

    <!-- Set order of constructor args by index. -->
    <bean id="person3" class="com.study.task.task3.Person">
        <constructor-arg index="0" name="age" value="31" />
        <constructor-arg index="1" name="name" value="Jack" />
    </bean>

    <!-- Set order of constructor args by args type. -->
    <bean id="person4" class="com.study.task.task3.Person">
        <constructor-arg type="int" name="age" value="21" />
        <constructor-arg type="java.lang.String" name="name" value="Maria" />
        <constructor-arg type="boolean" name="isMan" value="false" />
    </bean>

    <!-- Find bean by type. -->
    <bean class="com.study.task.task3.Country">
        <property name="name" value="France" />
        <property name="population" value="66900000" />
    </bean>
    <!--=======-->

    <!-- Task4 -->
    <bean name="animal1" class="com.study.task.task4.Animal">
        <property name="kind" value="dog" />
        <property name="lifeExpactancyAvg" value="10"/>
    </bean>

    <bean name="book1" class="com.study.task.task4.Book" scope="prototype">
        <property name="name" value="Funny stories"/>
        <property name="pages" value="89"/>
    </bean>
    <!--======-->

</beans>